::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #6B7280;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #4B5563;
}


#sidebar nav::-webkit-scrollbar {
    width: 6px;
}
#sidebar nav::-webkit-scrollbar-track {
    background: transparent;
}
#sidebar nav::-webkit-scrollbar-thumb {
    background-color: #1E3A8A  !important; 
    border-radius: 10px;
}
#sidebar nav::-webkit-scrollbar-thumb:hover {
    background-color: #1E40AF; 
}
.sidebar-collapsed { width: 80px !important; }
.sidebar-collapsed .sidebar-text { display: none; }
.sidebar-collapsed .material-icons { margin: 0 auto !important; }
  

.sidebar-collapsed img {
    width: 40px !important;
    height: 40px !important;
    margin: 0 auto;
    display: block;
    border: 2px solid white;
}

.sidebar-collapsed .flex.items-center.space-x-3 {
    justify-content: center;
    gap: 0;
}