::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #6B7280;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #4B5563;
}


#sidebar nav::-webkit-scrollbar {
    width: 6px;
}
#sidebar nav::-webkit-scrollbar-track {
    background: transparent;
}
#sidebar nav::-webkit-scrollbar-thumb {
    background-color: #1E3A8A  !important; 
    border-radius: 10px;
}
#sidebar nav::-webkit-scrollbar-thumb:hover {
    background-color: #1E40AF; 
}
.sidebar-collapsed { width: 80px !important; }
.sidebar-collapsed .sidebar-text { display: none; }
.sidebar-collapsed .material-icons { margin: 0 auto !important; }
  

.sidebar-collapsed img {
    width: 40px !important;
    height: 40px !important;
    margin: 0 auto;
    display: block;
    border: 2px solid white;
}

.sidebar-collapsed .flex.items-center.space-x-3 {
    justify-content: center;
    gap: 0;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 5px;
    max-height: 300px;
    overflow: hidden;
    position: relative;
}
.image-grid.show-all { max-height: none; }
.see-more {
    position: absolute; bottom: 0; left: 0; right: 0; height: 60px;
    background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0));
    display: flex; justify-content: center; align-items: center;
    cursor: pointer; font-weight: bold; color: #1b74e4;
}
.image-grid img, .image-grid video { width: 100%; height: 120px; object-fit: cover; border-radius: 5px; }
#sidebar nav::-webkit-scrollbar { width: 6px; }
#sidebar nav::-webkit-scrollbar-track { background: transparent; }
#sidebar nav::-webkit-scrollbar-thumb { background-color: #15803d; border-radius: 10px; }
#sidebar nav::-webkit-scrollbar-thumb:hover { background-color: #166534; }
.announcement-content p {
    margin: 0 0 0.75rem 0; 
}

.grid > div {
    align-self: start;
}
.announcement-content-wrapper {
    max-height: 10rem; 
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.announcement-content-wrapper.expanded {
    max-height: 1000px; 
}